@import "~bootswatch/dist/solar/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/solar/bootswatch";
/*@import 'node_modules/bootstrap/scss/bootstrap';*/
@import 'node_modules/bootstrap-vue/src/index.scss';

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin:auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    position:fixed;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
