.card {
  margin-bottom: 1.5rem;

  .card-title {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1rem;
  }

  .card-header {

    background-color:$dark;
    color:white;
    padding-top:10px;
    padding-bottom:8px;

    h5 {
      margin-bottom: 0;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  &.division-card {
    .card-header {
      //background-color:red;
      border-bottom: 0;

      button {
        color: white;
        padding: 0;
      }
    }
  }

  &.index-card {

    .card-header {
      background-color: white;
      color: #2b2b2b;
      text-transform: uppercase;
      padding: 10px;

      h5 {
        margin-bottom: 0;
        display: inline;
        font-size:20px;

        @include media-breakpoint-down(lg) {
          font-size:14px;
        }
        @include media-breakpoint-down(sm) {
          font-size:20px;
        }
      }

      i {
        color: $blue;
        font-size: 20px;
        margin-right: 10px;
        @include media-breakpoint-down(lg) {
          margin-right: 5px;
        }
      }
    }

    .card-body{
      padding: 10px;
    }
  }

  &.scheduled{
    .days-danger{
      //> .card-header{
      //  background-color:$scheduled-color;
      //}
      .card-header{
        background-color:$danger;
        color:white;
        border:1px solid $danger;
      }
    }

    .days-success{
      //> .card-header{
      //  background-color:$testing-color;
      //}
      .card-header{
        background-color:black;
        color:white;
        border:1px solid black;
      }
    }

    .days-warning{
      //> .card-header{
      //  background-color:$unscheduled-color;
      //}
      .card-header{
        background-color:$warning;
        color:white;
        border:1px solid $warning;
      }
    }
  }

  .vue-draggable{
    .card-header{
      background-color: white;
      font-weight:bold;
      padding:5px 10px;
      color:black;
      border:1px solid black;
    }
    .card-body{
      border:1px solid black;
      padding:5px 10px;
      border-top:none;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      color:black;
    }

    .badge{
      font-size: 100% !important;
      padding:5px 10px;
    }
  }
}