.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  background: {
    color: #4b5766;
  }
  padding-top: 49px; /* Space for fixed navbar */

  line-height:1.3;

  @include media-breakpoint-down(sm) {
    padding-top:98px;
  }

  &-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */

    @supports ((position: -webkit-sticky) or (position: sticky)) {
      position: -webkit-sticky;
      position: sticky;
    }
  }
  .nav-link {

    @extend .d-flex;
    @extend .align-items-center;

    font-weight: 500;
    color: #fff !important;
    padding-bottom:1px !important;

    .nav-table{

      font-size:13px !important;

      .feather, i {
        margin-right: 4px;
        color: white;
        width:20px;
      }

      span{
        color:white;
      }
    }

    &.active{
      .nav-table{
        .feather, i {
          color:green !important;
        }
        span{
          color:green !important;
        }
      }
    }

    .badge.badge-notifications{
      span{
        //font-weight:bold;
        //font-family:'Arial';
        margin-left:-1px;
        color:white !important;
      }
    }
  }

  .sidebar .nav-link.active {
    color: #28a745;
  }

  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }

  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;

    //span{
    //    padding-bottom:5px;
    //    border-bottom:1px solid white;
    //}
  }

  .text-muted{
    color:rgba(255,255,255,0.5) !important;
  }

  .menu-hr{
    background-color:white;
  }
}
