body{
  @include media-breakpoint-down(md) {
    $font-size-base: 0.7rem;
  }

  @include media-breakpoint-down(sm) {
    $font-size-base: 0.5rem;
  }
}

h1, .h1{
  font-size:1.9rem !important;
  @include media-breakpoint-down(md) {
    font-size:1.7rem !important;
  }

  @include media-breakpoint-down(sm) {
    font-size:1.3rem !important;
  }
}

h2, .h2{
  font-size:1.5rem !important;
  @include media-breakpoint-down(md) {
    font-size:1.4rem !important;
  }

  @include media-breakpoint-down(sm) {
    font-size:1.1rem !important;
  }
}

h3 {
  @include media-breakpoint-down(md) {
    font-size:1.2rem !important;
  }

  @include media-breakpoint-down(sm) {
    font-size:0.9rem !important;
  }
}

h4 {
  @include media-breakpoint-down(md) {
    font-size:1.1rem !important;
  }

  @include media-breakpoint-down(sm) {
    font-size:0.8rem !important;
  }
}

h5{
  font-size:0.9rem !important;
  @include media-breakpoint-down(md) {
    font-size:0.8rem !important;
  }

  @include media-breakpoint-down(md) {
    font-size:0.7rem !important;
  }
}

h1, h2, h3, h4, h5{
  font-weight:bold;
}

.section-heading{
  border-bottom:1px solid black;
  font-weight:bold;
  display:inline-block;
}
